body {
background-image: url(https://abrakadabra.fun/uploads/posts/2021-12/1639936202_3-abrakadabra-fun-p-fon-gori-dlya-prezentatsii-3.jpg);

background-attachment: fixed;
background-size: cover;
background-position: center;
overflow: hidden; /* Запрет прокрутки страницы */
margin: 0;
}

canvas {
    position: absolute;
    z-index: 1;
}




.forms {
    position: absolute;
    display: inline;
    z-index: 2;
    border: solid; 
    border-radius: 8px;
    border-color: #6c6c6c5e;
    padding: 20px;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    border-width: 4px;
    padding-top: 0px;
    padding-bottom: 0px;

}

input {
    display: flex;
    background-color: #00000000;
    border-radius: 3px;

    padding: 5px;
}

input::after {
    background-color: #00000000;
}

#password {
    margin-top: 20px;
}

#fond_p {
    text-align: center;
    color: #333333;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.not_register {
    margin-left: 50%;
    translate: -50%;
}

#not_register {

    background-color: #00000000;
    border: none;

    margin-top: 30px;

}

#next {
    position: relative;
    background: linear-gradient(to right top, #70aace86, #c7c7ed);

    padding: 69px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 50px;
    left: 50%;
    translate: -50%;
}

.range_begtaund {
    width: 80px;
    height: 20px;
    border: solid 2px;
    border-radius: 20px;
    background: linear-gradient(to left top, #c7c7c79c, #a08bd8);
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.range_colo {

    width: 20px;
    height: 20px;
    background-color: #333333;
    border-radius: 50%;

}


.blur {
    position: absolute;
    z-index: 1;
    filter: blur(5px);
    width: 230px;
    height: 290px;
    background-color: #bbbbbb65;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
   
}

.login_and_register_p {
    display: flex;

}

.login_p,
.register_p {
    margin-bottom: -2px;
    margin-right: 10px;
    color: #242424c8;

}

#email {
    border-radius: 50px;
    background-color: #d2d2d261;
    border-color: #000000de;
}

#password {
    border-radius: 50px;
    background-color: #d2d2d261;
    border-color: #000000de;
}